{% extends 'base.html'%}
{% block content %}

<h1>{{ tag.name }}</h1>



<div class="section-split">
    <section class="main-info">
        <div class="table-div">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Merchant</th>
                    <th>Tag</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for transaction in transactions  %}
                <tr>
                    <td><a href="/transactions/{{transaction.id}}">{{transaction.date}}</a></td>
                    <td>£{{transaction.amount}} <a href="merchants/{{transaction.merchant.id}}"></a></td>
                    <td><a href="/merchants/{{transaction.merchant.id}}">{{transaction.merchant.name}}</a> </td>
                    <td><a href="/tags/{{transaction.tag.id}}">{{transaction.tag.name}}</a></td>
                    <td><form action="/transactions/{{transaction.id}}/edit">
                            <button class="button" type="submit">Update</button>
                        </form>
                    </td>
                    <td> 
                        <form action="/transactions/{{transaction.id}}/delete" method="post">
                            <button class="button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>   
                {% endfor %}
            </table>
        </div>
    </section>
<section class="summary">
    <h2 class="expense-statement">Amount Spent: £{{total_spent}}</h2>

<section class="graph-space">

</section>
{% endblock %}