{% extends 'base.html'%}
{% block content %}

    <a href="merchants/new"><p>Add Merchant</p></a>
    <ul>
    {% for merchant in merchants  %}
        <li>    <a href="merchants/{{merchant.id}}">{{merchant.name}} </a>
                <a href="merchants/{{merchant.id}}/edit"><p>Update</p></a>
                <form action="/merchants/{{merchant.id}}/delete" method="Post">
                    <button type="submit">Delete</button>
                </form>
        </li> 
        <br>
    {% endfor %}
    </ul>
{% endblock %}