

<p>{{transaction.date}} £{{transaction.amount}} {{transaction.merchant.name}} {{transaction.tag.name}} {{transaction.id}}</p>
<form action="/transactions/{{transaction.id}}" method="post">
    <div>
        <label for="date">Transaction Date:</label>
        <input type="date" name="date" required >
    </div>
    
    
    <div>
        <label> Amount </label>
        <input type="number" id="transaction-amount" name="amount" required>
    </div>

   
    <div>
        <label for="merchant">Merchant</label>
        <select name="merchant" id="transaction-merchant-name">
            <option value="">--Please select a merchant--</option>
            {% for merchant in merchants %}
            <option value="{{merchant.id}}">{{merchant.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="tag">Tag</label>
        <select name="tag" id="transaction-tag-name">
            <option value="">--Please select a tag--</option>
            {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.name}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Update Transaction</button>


</form>